body{
    background-color: black;
}
.form{
    background-color: skyblue;
    text-align: center;
    margin: 0em 5em;

}
#name{
    font-size: 1em;
    width: 10em;
}
input{
    text-align: center;
}